recursive-include qhonuskan_votes *.py *.feature
recursive-include qhonuskan_votes/static *
recursive-include qhonuskan_votes/templates *.html
include *.txt
include README.rst
include requirements/global.txt
