{% load i18n %}
<div class="rating-container">
    <div class="rating" x:static-url="{{STATIC_URL}}" x:url="{% url votes_rating %}" x:model-name="{{model_name}}" x:id="{{object.id}}" x:rating="{{rating}}">
        <img src="{{STATIC_URL}}django_votes/img/{% if not rating %}gray_{% endif %}star.png" x:index="0" class="star" alt="1 {% trans "star" %}" />
        <img src="{{STATIC_URL}}django_votes/img/{% if not rating or rating < 1 %}gray_{% endif %}star.png" x:index="1" class="star" alt="2 {% trans "stars" %}" />
        <img src="{{STATIC_URL}}django_votes/img/{% if not rating or rating < 2 %}gray_{% endif %}star.png" x:index="2" class="star" alt="3 {% trans "stars" %}" />
        <img src="{{STATIC_URL}}django_votes/img/{% if not rating or rating < 3 %}gray_{% endif %}star.png" x:index="3" class="star" alt="4 {% trans "stars" %}" />
        <img src="{{STATIC_URL}}django_votes/img/{% if not rating or rating < 4 %}gray_{% endif %}star.png" x:index="4" class="star" alt="5 {% trans "stars" %}" />
    </div>
    <div class="rating-title"></div>
    <div style="clear:both"></div>
</div>
