{% load i18n %}
<div class="updownvotes" x:id="{{object.id}}" x:model-name="{{model_name}}">
    <div class="vote-buttons">
        <ul>
            <li><a href="#" class="vote-up" x:url="{% url votes_vote_up %}">
                <img src="{{ STATIC_URL }}django_votes/img/vote-up.png"
                    alt="{% trans "Vote up" %}" /></a> {{up_votes}}</li>
            <li><a href="#" class="vote-down" x:url="{% url votes_vote_down %}">
                <img src="{{ STATIC_URL }}django_votes/img/vote-down.png"
                    alt="{% trans "Vote down" %}" /></a> {{down_votes}}</li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    {% comment %}
    {% if total_votes %}
    <div class="votes-overview">
        <div class="up-votes" style="width:{{up_pct}}%"></div>
        <div class="down-votes" style="width:{{down_pct}}%"></div>
    </div>            
    <div>{% blocktrans with up_votes as up_votes and down_votes as down_votes %}{{up_votes}} likes / {{down_votes}} dislikes{% endblocktrans %}</div>
    {% endif %}
    <div style="clear:both;"></div>
    <div class="vote-results" style="display:none">
        {% if your_vote %}
        <div class="your-vote">
            {% if your_vote.value > 0 %}
            {% trans "You like this. Thank you for your feedback!" %}
            {% else %}
            {% trans "You don't like this. Thank you for your feedback!" %}
            {% endif %}     
        </div>
        {% endif %}
        <div class="vote-separator"></div>
        <div class="vote-total">
            {% blocktrans with total_votes as total_votes %}<strong>{{total_votes}}</strong> votes in total{% endblocktrans %}
        </div>
        <div class="vote-result">    
            <div class="vote-count">
                {{up_votes}}
            </div>
            {% if up_votes %}
            <div class="vote-bar up" style="width:{% if up_votes > 1000 %}1000{% else %}{{up_votes}}{% endif %}px;">
                &nbsp;        
            </div>
            {% endif %}
        </div>
        <div class="vote-result">
            <div class="vote-count">
                {{down_votes}}
            </div>
            {% if down_votes %}
            <div class="vote-bar down" style="width:{% if down_votes > 1000 %}1000{% else %}{{down_votes}}{% endif %}px;">
                &nbsp;        
            </div>
            {% endif %}
        </div>
    </div>
    {% endcomment %}
</div>
