/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 8, ../sass/screen.scss */
.updownvotes {
  margin-top: 10px;
}
/* line 11, ../sass/screen.scss */
.updownvotes .votes-overview {
  width: 200px;
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
/* line 17, ../sass/screen.scss */
.updownvotes .votes-overview .up-votes, .updownvotes .votes-overview .down-votes {
  height: 20px;
  float: left;
}
/* line 22, ../sass/screen.scss */
.updownvotes .votes-overview .up-votes {
  background-color: #457960;
  border: 1px solid #f0f2f3;
}
/* line 27, ../sass/screen.scss */
.updownvotes .votes-overview .down-votes {
  background-color: red;
  border: 1px solid #f0f2f3;
}
/* line 33, ../sass/screen.scss */
.updownvotes .vote-buttons {
  float: left;
}
/* line 37, ../sass/screen.scss */
.updownvotes .vote-results {
  clear: both;
}
/* line 40, ../sass/screen.scss */
.updownvotes .vote-results .vote-count {
  font-weight: bold;
}
/* line 46, ../sass/screen.scss */
.updownvotes .vote-results .vote-bar.up {
  background-color: #457960;
  border: 1px solid #f0f2f3;
}
/* line 50, ../sass/screen.scss */
.updownvotes .vote-results .vote-bar.down {
  background-color: red;
  border: 1px solid #f0f2f3;
}

/* line 58, ../sass/screen.scss */
.rating-container .rating {
  float: left;
}
/* line 62, ../sass/screen.scss */
.rating-container .rating-title {
  margin-left: 100px;
}
